<!DOCTYPE html>
<html lang="en">
<head>
    <title>重置密码</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <!--框架开始-->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/framework.js"></script>
    <link rel="stylesheet" type="text/css" href="css/tuimobile.css"/>
    <!--框架结束-->
    <link rel="stylesheet" type="text/css" id="skin" href="css/daning_wx_style.css"/>
    <!--vue-->
    <script src="js/vue.js"></script>
    <script src="js/vue-resource.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/tui_loading.js"></script>
    <script src="js/tui_popWin.js"></script>
    <script src="js/config.js"></script>
    <script type="text/javascript">
        $(function () {
            new Vue({
                el: "#app",
                data: {
                    psw1: '',
                    psw2: '',
                    phone: getCookieValue("phone")
                },
                methods: {
                    sure: function () {
                        if (isEmpty(this.psw1) || isEmpty(this.psw2)) {
                            $.showAlert({
                                'title': '提示',
                                'content': '密码不能为空',
                                'sure': ''
                            });
                            return;
                        }
                        $.showLoading();
                        this.$http.post(userinfo.editpassword, {
                            phone: this.phone,
                            password: this.psw1
                        }, {
                            emulateJSON: true
                        }).then(function (res) {

                            $.removeLoading();
                            if (1 == res.data.data) {
                                removeCookie("phone");
                                alert("修改密码成功");
                                window.location.href = "login.html";
                            }
                        }, function () {

                            $.removeLoading();
                        })
                    },
                }

            })
        })

    </script>
</head>
<body class="wbg">
<section>
    <div class="tui_container" id="app">
        <div class="form_item">
            <div class="label">新密码：</div>
            <div class="form_value">
                <input v-model="psw1" maxlength="20" type="password"/>
            </div>
        </div>

        <div class="form_item">
            <div class="label">确认密码：</div>
            <div class="form_value">
                <input v-model="psw2" maxlength="20" type="password"/>
            </div>
        </div>

        <div class="footerbtn">
            <button class="btn btn_primary  btn_block" @click="sure">确定修改</button>
        </div>

    </div>
</section>
</body>
</html>